<div class="menu hide-left off-white dark-primary-text ">
<div class="tab off-white">&lt;</div>
  <% if @user %>
    <ul>
      <li><%= @user.name ? @user.name : @user.email %></li>
      <% foreach @history do |location| %>
      <li class="location-link" data-id="<%= location.id %>"><%= location.address %></li>
      <% end %>
    </ul>
  <% else %>
    <form class="user-form" action="http://rails-first-try-103444.use1.nitrousbox.com/users/login" method="POST">
        <ul>
            <li><input type="text" name="name" placeholder="Name: Jane Doe" /></li>
            <li><input type="email" name="email" placeholder="Email: j.doe@email.com" /></li>
            <li><input type="password" name="password" placeholder="Password: 50meTh!n6h@rd" /></li>
            <li><input type="text" name="zip" placeholder="ZIP code: 55555" /></li>
        </ul>
        <input class="button" type="submit" value="Create Account">
    </form>
  <% end %>
</div>
<div class="search">
  <form class="user-form" action="http://rails-first-try-103444.use1.nitrousbox.com/locations" method="POST">
    <input type="text" name="address" placeholder="Search: ZIP or address..." />
    <input class="button" type="submit" value="Go">
  </form>
</div>
<div id="mapdiv" class="map">
    MAP
</div>
<div class="forecast">
    <h3>WEEKLY FORECAST</h3>
    <div class="box">
        <div class="temp accent-primary-text">32</div>
        <div class="day">monday</div>
    </div>
    <div class="box">
        <div class="temp accent-primary-text">32</div>
        <div class="day">monday</div>
    </div>
    <div class="box">
        <div class="temp accent-primary-text">32</div>
        <div class="day">monday</div>
    </div>
    <div class="box">
        <div class="temp accent-primary-text">32</div>
        <div class="day">monday</div>
    </div>
    <div class="box">
        <div class="temp accent-primary-text">32</div>
        <div class="day">monday</div>
    </div>
    <div class="box">
        <div class="temp accent-primary-text">32</div>
        <div class="day">monday</div>
    </div>
    <div class="box">
        <div class="temp accent-primary-text">32</div>
        <div class="day">monday</div>
    </div>
</div>
<div id="chartdiv" class="chart">
    CHART
</div>