<% if session[:user_id].nil? %>
<a href="/users/new" >Create New Account</a>
<form action="/users/login" method="POST">
  EMAIL: <input type="text" name="email" value="" /><br>
  PASSWORD: <input type="text" name="password" value="" />
  <input type="submit" value="Log In" />
</form>
<% else %>
LOGGED IN - <a href="/users/logout">LOG OUT</a>
<% end %>